<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Item</th>
      <th scope="col">Shop</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% quotation_items.each do |qi|%>
      <tr>
        <td><%= qi.id %></td>
        <td><%= qi.item.name %></td>
        <td><%= Shop.find(qi.item.original_shop_id).name %></td>
        <td><%= qi.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>