<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_tag asset_path("logo1.png"), size: "40x40" %>
  </a>
  <a href="/logout" data-method="post">Logout</a>
</nav>
<br>
<form class="form-inline" action="/get-quotation-items" data-method="POST" data-remote="true" id="portal-form">
  <div class="container">
    <div class=row>
      <div class="input-group mb-3" style="margin: 4px">
        <div class="input-group-prepend">
          <label class="input-group-text" for="markets">Markets</label>
        </div>
        <select class="custom-select" name="market_id" id="markets">
          <option selected>Choose...</option>
          <% @markets.each do |m| %>
            <option value="<%= m.id %>"><%= m.name %></option>
          <% end %>
        </select>
      </div>
      <div class="input-group mb-3" style="margin: 4px">
        <div class="input-group-prepend">
          <label class="input-group-text" for="month">Month</label>
        </div>
        <select class="custom-select" name="month" id="month">
          <option selected>Choose...</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
      </div>
      <div class="input-group mb-3" style="margin: 4px">
        <div class="input-group-prepend">
          <label class="input-group-text" for="month">Year</label>
        </div>
        <input name="year" type="text">        
      </div>
      <button style="margin-bottom: 16px;margin-top: 4px;margin-right:4px;" type="submit" class="btn btn-primary">Lookup</button>
      <button id="download" class="btn btn-primary" style="margin-bottom: 16px;margin-top: 4px;">Download CSV</button>
    </div>
  </div>
</form>
<div class="container">
  <div style='width: 100%;'>
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
</div>
<div class="container" id="q_items" style="margin-top: 20px;">
</div>
<div class="container" id="scrutiny_table" style="margin-top: 40px;">
</div>

<style type="text/css">
  td {
    text-align: justify;
  }
</style>

<script type="text/javascript">
  $("#download").on('click',function download () {
    // body...
    console.log("download");
    market_id = $("#markets").val();
    month = $("#month").val();
    str = '/quotation-csv.csv?market_id='+market_id+"&month="+month;
    window.location = str;   
  })
</script>